<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:ldap="http://www.springframework.org/schema/ldap"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.2.xsd
        http://www.springframework.org/schema/ldap 
        http://www.springframework.org/schema/ldap/spring-ldap.xsd">



	<!-- Spring Security -->

	<!--<security:http auto-config="true" use-expressions="true"> <security:intercept-url 
		pattern="/**" access="authenticated"/> <security:intercept-url pattern="/" 
		access="permitAll"/> <security:intercept-url pattern="/home" access="permitAll"/> 
		<security:intercept-url pattern="/login" access="permitAll"/> <security:intercept-url 
		pattern="/secure" access="isAuthenticated()"/> <security:form-login login-page='isveren/login' 
		default-target-url="/" authentication-failure-url="/login?error" /> <security:logout 
		logout-success-url="/" /> </security:http> -->

	<beans:bean id="springSecurityFilterChain"
		class="org.springframework.web.filter.DelegatingFilterProxy" />

	<http >
		<intercept-url pattern="/isveren/resources/**" access="permitAll" />
		<intercept-url pattern="/isveren/login" access="permitAll"/>
		<intercept-url pattern="/isveren/**" access="hasRole('ROLE_ADMIN')" />
		<form-login
			login-processing-url="/isveren/j_spring_security_check"
			login-page="/isveren/login" default-target-url="/isveren/index"
			authentication-failure-url="/loginfailure"
			username-parameter="username" password-parameter="password" />
		<logout logout-success-url="/" />
		<!-- <csrf/> -->
		<csrf disabled="true" />
		<http-basic />
	</http>

	<authentication-manager>
		<ldap-authentication-provider
			user-search-base="ou=people,dc=maxcrc,dc=com"
			user-search-filter="(uid={0})" group-role-attribute="cn"
			group-search-base="ou=groups,dc=maxcrc,dc=com"
			group-search-filter="(memberUid={1})" role-prefix="ROLE_" />
	</authentication-manager>

	<!-- <ldap-server root="dc=example,dc=com" /> -->

	<ldap-server url="ldap://DESKTOP-GMG2NHF:389/"
		manager-dn="cn=Manager,dc=maxcrc,dc=com" manager-password="secret" />


	<!-- <ldap-server url="ldap://ldap.forumsys.com/" port="389" manager-dn="cn=read-only-admin,dc=example,dc=com" 
		manager-password="password" /> -->


	<!--<ldap-server ldif="classpath:users.ldif" /> -->


	<!-- <authentication-manager> <ldap-authentication-provider user-search-base="ou=people" 
		user-search-filter="(uid={0})" group-search-base="ou=groups" group-search-filter="(member={0})"> 
		</ldap-authentication-provider> </authentication-manager> <ldap-server root="dc=baeldung,dc=com" 
		ldif="users.ldif"/> -->

</beans:beans>